<p-toast></p-toast>
<p-table #dt [value]="customers" dataKey="id" styleClass="ui-table-customers"
         [rowHover]="true"
         [rows]="20" [showCurrentPageReport]="true" [rowsPerPageOptions]="[20]"
         [paginator]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="0"
         [lazy]="true" (onLazyLoad)="load($event)">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Country
                <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="date">Date
                <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th pSortableColumn="status">Status
                <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                <input pInputText type="text" (input)="filterName($event)" placeholder="Search by Name"
                       class="ui-column-filter">
            </th>
            <th>
                <input pInputText type="text" (input)="filterCountry($event)" placeholder="Search by Country"
                       class="ui-column-filter">
            </th>
            <th>
            </th>
            <th>
                <p-dropdown [options]="statuses" (onChange)="filterStatus($event)" styleClass="ui-column-filter"
                            placeholder="Select a Status" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr class="ui-selectable-row">
            <td>
                <span class="ui-column-title">Name</span>
                {{customer.name}}
            </td>
            <td>
                <span class="ui-column-title">Country</span>
                <span>{{customer.country.name}}</span>
            </td>
            <td>
                <span class="ui-column-title">Date</span>
                {{customer.date}}
            </td>
            <td>
                <span class="ui-column-title">Status</span>
                <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
            </td>
            <td>
                <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" style="text-align:left">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
