<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>
    </div>

    <div class="col-md-8">
        <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="form-group">
                <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
                <input type="text" class="form-control" name="username" id="cy-username"
                       placeholder="{{ 'global.form.username.placeholder' | translate }}"
                       formControlName="username" #username>
            </div>

            <div class="form-group">
                <label for="password" jhiTranslate="login.form.password">Password</label>
                <input type="password" class="form-control" name="password" id="cy-password"
                       placeholder="{{ 'login.form.password.placeholder' | translate }}"
                       formControlName="password">
            </div>

            <div class="form-check mb-5">
                <label class="form-check-label" for="rememberMe">
                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"
                           formControlName="rememberMe">
                    <span jhiTranslate="login.form.rememberme">Remember me</span>
                </label>
            </div>

            <button id="cy-login" type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Sign in
            </button>
        </form>
    </div>
</div>
