<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gateAssignments">
            <h2><span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.detail.title">Gate Assignments</span> {{ gateAssignments.id }}</h2>

            <hr>

            <app-alert-error></app-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.time">Time</span></dt>
                <dd>
                    <span>{{ gateAssignments.time }}</span>
                </dd>
                <dt><span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.airline">Airline</span></dt>
                <dd>
                    <span>{{ gateAssignments.airline }}</span>
                </dd>
                <dt><span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.flightNumber">Flight Number</span></dt>
                <dd>
                    <span>{{ gateAssignments.flightNumber }}</span>
                </dd>
                <dt><span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.transaction">Transaction</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sfoGateAssignmentProblemApp.Transaction.' + gateAssignments.transaction }}">{{ gateAssignments.transaction }}</span>
                </dd>
                <dt><span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.terminal">Terminal</span></dt>
                <dd>
                    <span>{{ gateAssignments.terminal }}</span>
                </dd>
                <dt><span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.gate">Gate</span></dt>
                <dd>
                    <span>{{ gateAssignments.gate }}</span>
                </dd>
                <dt><span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.remark">Remark</span></dt>
                <dd>
                    <span>{{ gateAssignments.remark }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gate-assignments', gateAssignments.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
