<div>
    <app-alert-error></app-alert-error>
    <app-alert></app-alert>

    <div *ngIf="loading">
        <app-progress-bar></app-progress-bar>
    </div>
    <ng-container *ngIf="!loading">
        <h2 id="cy-page-heading">
            <span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.home.title"
                  id="cy-title">Gates: </span>
        </h2>
        <div>
            <button class="btn btn-secondary" (click)="exportAsXlsx()">
                <fa-icon icon="download"></fa-icon>
            </button>
            <button id="cy-create" class="btn btn-primary mx-5" [routerLink]="['/gate-assignments/new']">
                <fa-icon icon="plus"></fa-icon>
            </button>
            <ng-container *ngIf="searchTerm">
                <b>{{searchTerm}}</b>
                <button class="btn btn-secondary" (click)="reset()">
                    <fa-icon icon="trash-alt"></fa-icon>
                </button>
            </ng-container>
        </div>
        <div class="alert alert-warning" id="no-result" *ngIf="gateAssignments?.length === 0">
            <span jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.home.notFound">No gateAssignments found</span>
        </div>

        <div class="table-responsive" id="entities" *ngIf="gateAssignments?.length">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"></th>
                    <th scope="col" jhiSortBy="time"><span
                            jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.time">Time</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="airline"><span
                            jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.airline">Airline</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="flightNumber"><span
                            jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.flightNumber">Flight Number</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="transaction"><span
                            jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.transaction">Transaction</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="terminal"><span
                            jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.terminal">Terminal</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="gate"><span
                            jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.gate">Gate</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="remark"><span
                            jhiTranslate="sfoGateAssignmentProblemApp.gateAssignments.remark">Remark</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        <app-filter (updateFilter)="searchByAirline($event)"
                                    [placeholder]="'search airline'">
                        </app-filter>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let gateAssignments of gateAssignments ;trackBy: trackId">
                    <td>
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/gate-assignments', gateAssignments.id, 'edit']"
                                    class="btn btn-primary btn-lg mr-4">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(gateAssignments)"
                                    class="btn btn-danger btn-lg">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </td>
                    <td>
                        <a [routerLink]="['/gate-assignments', gateAssignments.id, 'view']">{{ gateAssignments.time | date:'medium' }}</a>
                    </td>
                    <td>{{ gateAssignments.airline }}</td>
                    <td>{{ gateAssignments.flightNumber }}</td>
                    <td jhiTranslate="{{ 'sfoGateAssignmentProblemApp.Transaction.' + gateAssignments.transaction }}">{{ gateAssignments.transaction }}</td>
                    <td>{{ gateAssignments.terminal }}</td>
                    <td>{{ gateAssignments.gate }}</td>
                    <td>{{ gateAssignments.remark }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="gateAssignments && gateAssignments.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                                [maxSize]="2" [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
    </ng-container>
</div>
