######################
# Mac OSX
######################
.DS_Store
.svn

######################
# IntelliJ
######################
.idea/
*.iml

######################
# Node
######################
/node/
node_tmp/
node_modules/

######################
# cypress
######################
**/*.mp4
