######################
# Mac OSX
######################
.DS_Store
.svn

######################
# IntelliJ
######################
.idea/
*.iml

######################
# Node
######################
/node/
node_tmp/
node_modules/

######################
# cypress
######################
.idea
.git
.pidRunApp
package-lock.json
cypress/videos
cypress/screenshots
